// Colors
$SoftCyan: #a5f3eb;
$StrongCyan: hsl(174, 86%, 45%);
$LightGrayishRed: hsl(14, 92%, 95%);
$LightRed: hsl(15, 100%, 70%);
$PaleBlue: hsl(226, 100%, 87%);

// ColorNeutral
$White: hsl(0, 0%, 100%);
$VeryPaleBlue: hsl(230, 100%, 99%);
$LightGrayishBlue: hsl(224, 65%, 95%);
$LightGrayishBlue: hsl(223, 50%, 87%);
$GrayishBlue: hsl(225, 20%, 60%);
$DarkDesaturatedBlue: hsl(227, 35%, 25%);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: $VeryPaleBlue;
    font-family: "Manrope", sans-serif;
}

.bodyBg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    background: url('/images/bg-pattern.svg');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}



.main {
    position: relative;
    text-align: center;
    margin-top: 6rem;

    &__bg {
        position: absolute;
        top: -2rem;
        left: 0;
        right: 0;

        img {
            width: 125px;

        }
    }

    &__title {
        position: relative;

        h1 {
            font-size: 26px;
            margin-bottom: 1rem;
            color: $DarkDesaturatedBlue;
        }

        h2 {
            font-size: 14px;
            color: $GrayishBlue;
            font-weight: 600;
        }
    }
}

.card {
    width: clamp(350px, 75%, 600px);
    background: $White;
    margin-top: 5rem;
    border-radius: 10px;
    box-shadow: 0px 10px 16px 6px #a9b6c938;

    &__wrapper {
        padding: 2.5rem;

    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__views {
        color: $GrayishBlue;
        font-size: 0.75rem;
        letter-spacing: 3px;
    }

    &__priceWrapper {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        &.desktop {
            display: flex;
    
            @media (max-width:576px) {
                display: none;
            }
        }
    
        &.mobile {
            display: none;
    
            @media (max-width:576px) {
                display: flex;
            }
        }

    }

    
    


    &__price {
        font-size: 2.125rem;
        color: $DarkDesaturatedBlue;
        font-weight: 800;

        span {
            font-size: 1rem;
            color: $GrayishBlue;
            font-weight: 600;
        }
    }

    &__slider {
        display: flex;
        justify-content: center;
        margin-top: 1.5rem;
        text-align: center;
    }



    &__billingInput {
        position: absolute;
        cursor: pointer;
        opacity: 0;
        left: -9000px;
        top: -9000px;
        transition: .2s;

        &:checked+label {
            transition: .2s;

            &:after {
                left: 1.2em;
                transition: .2s;
            }

            &:before {
                background-color: $StrongCyan;
                transition: .2s;
            }
        }
    }

    &__billing {
        display: flex;
        align-items: center;
        justify-content: right;
        gap: 1rem;
        margin-top: 2.5rem;
        margin-right: 1.25rem;

        label {
            font-size: 0.8125rem;
            color: $GrayishBlue;
            user-select: none;

        }
    }

    &__billingInput+label {
        position: relative;
        display: flex;
        align-items: center;
        transition: .2s;


        &:before {
            content: '';
            width: 2em;
            height: 1em;
            background: #ddd;
            border-radius: 1em;
            margin-right: 1rem;
            transition: .2s;
        }

        &:after {
            position: absolute;
            content: '';
            left: .1em;
            width: .7em;
            height: .7em;
            background: $White;
            border-radius: 1em;
            margin-right: .25em;
            transition: .2s;
        }
    }

    &__discount {
        padding: .25rem .5rem;
        border-radius: 25px;
        background-color: $LightGrayishRed;
        font-size: 0.625rem;

        p {
            color: $LightRed;
        }

        &-text {
            @media(max-width: 576px) {
                display: none;
            }
        }
    }

    &__bar {
        height: 2px;
        background-color: $VeryPaleBlue;
        border: none;
    }

    &__features {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $GrayishBlue;
        font-size: 12px;

        ul {
            display: flex;
            flex-direction: column;
            gap: .5rem;
            list-style: none;

            li {

                &:before {
                    content: '';
                    display: inline-block;
                    width: 10px;
                    height: 12px;
                    background: url('/images/icon-check.svg');
                    background-size: contain;
                    background-repeat: no-repeat;
                    vertical-align: middle;
                    margin-right: .5rem;
                }
            }
        }
    }

    &__trialBtn {
        padding: .75rem 2.5rem;
        cursor: pointer;
        border: none;
        outline: none;
        background-color: $DarkDesaturatedBlue;
        color: $White;
        border-radius: 25px;
    }
}


/* range 2 */
.range-input {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    cursor: pointer;
    outline: none;
    border-radius: 15px;
    height: 8px;
    background: #ccc;
}

.range-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    // appearance: none;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background: $StrongCyan url('/images/icon-slider.svg') center no-repeat;
    border: none;
    transition: .2s ease-in-out;

    &:hover {

        background: $StrongCyan url('/images/icon-slider.svg') center no-repeat;
    }
}

.range-input::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background-color: $StrongCyan;
    border-radius: 50%;
    border: none;
    transition: .2s ease-in-out;


}

.range-input::-webkit-slider-thumb:hover {
    box-shadow: 0 15px 35px 0px $StrongCyan;
}

.range-input:active::-webkit-slider-thumb {
    cursor: grab;
}

// .range-input:focus::-webkit-slider-thumb {
//     box-shadow: 0 0 20px 5px $StrongCyan;
// }

.range-input::-moz-range-thumb:hover {
    box-shadow: 0 0 0 10px rgba(255, 85, 0, .1)
}

.range-input:active::-moz-range-thumb {
    box-shadow: 0 0 0 13px rgba(255, 85, 0, .2)
}

.range-input:focus::-moz-range-thumb {
    box-shadow: 0 0 0 13px rgba(255, 85, 0, .2)
}